<footer class="bg-light pt-5 pb-3 mt-5">
    <div class="container">
        <div class="row">
            <!-- NGO物資平台 -->
            <div class="col-md-3">
                <h5>NGO物資平台</h5>
                <div class="d-flex">
                    <a href="#" class="text-dark me-3"><i class="fab fa-facebook"></i></a>
                    <a href="#" class="text-dark me-3"><i class="fab fa-twitter"></i></a>
                    <a href="#" class="text-dark"><i class="fab fa-instagram"></i></a>
                </div>
            </div>

            <!-- 關於 -->
            <div class="col-md-2">
                <h6>關於</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">About us</a></li>
                    <li><a href="#" class="text-muted">Team</a></li>
                    <li><a href="#" class="text-muted">What we do</a></li>
                    <li><a href="#" class="text-muted">Contact</a></li>
                </ul>
            </div>

            <!-- 服務 -->
            <div class="col-md-2">
                <h6>服務</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Projects</a></li>
                    <li><a href="#" class="text-muted">Events</a></li>
                    <li><a href="#" class="text-muted">Donate</a></li>
                    <li><a href="#" class="text-muted">Blog</a></li>
                </ul>
            </div>

            <!-- 聯繫方式 -->
            <div class="col-md-2">
                <h6>聯繫方式</h6>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-muted">Facebook</a></li>
                    <li><a href="#" class="text-muted">Instagram</a></li>
                    <li><a href="#" class="text-muted">Twitter</a></li>
                    <li><a href="#" class="text-muted">LinkedIn</a></li>
                </ul>
            </div>

            <!-- 電子報訂閱 -->
            <div class="col-md-3">
                <h6>訂閱電子報取得更多資訊</h6>
                <form class="d-flex">
                    <input type="email" class="form-control me-2" placeholder="電子信箱">
                    <button class="btn btn-dark" type="submit">訂閱</button>
                </form>
            </div>
        </div>

        <hr class="my-4">

        <div class="row">
            <div class="col-12 text-center">
                <p class="text-muted">&copy; 2024 NGO物資平台. All rights reserved.</p>
            </div>
        </div>
    </div>
</footer>
