@model NGOPlatformWeb.Models.ViewModels.CaseSignupViewModel

<div class="py-4 mb-4" style="background-color: #FBB37F;">
    <div class="container text-center">
        <h3 class="text-white fw-bold">活動報名</h3>
        <p class="text-white">快找親朋好友一起參與活動吧~</p>
    </div>
</div>

<div class="container d-flex justify-content-center">
    <form asp-action="CaseSignup" asp-controller="Activity" method="post" class="p-5 mb-5 rounded-4 shadow"
          style="background-color: #FBB37F; width: 600px; max-width: 90%;">
        @Html.AntiForgeryToken()

        <input asp-for="Registration.CaseId" type="hidden" />
        <input asp-for="Registration.ActivityId" type="hidden" />
        <input asp-for="Registration.Status" type="hidden" />

        <div class="fw-bold text-white text-start w-100 mx-auto" style="max-width: 400px;">
            <h3 class="fw-bold fs-2 text-center mb-4">@Model.Activity.ActivityName</h3>

            <div class="mb-3">
                <label asp-for="Registration.ContactName" class="form-label fs-5">姓名：</label>
                <input asp-for="Registration.ContactName" class="form-control bg-light" />
            </div>

            <div class="mb-3">
                <label asp-for="Registration.Email" class="form-label fs-5">電子郵件：</label>
                <input asp-for="Registration.Email" class="form-control bg-light" />
            </div>

            <div class="mb-3">
                <label asp-for="Registration.Phone" class="form-label fs-5">電話：</label>
                <input asp-for="Registration.Phone" class="form-control bg-light" />
            </div>

            <div class="mb-3">
                <label asp-for="Registration.ParticipantCount" class="form-label fs-5">總參與人數：</label>
                <input asp-for="Registration.ParticipantCount" class="form-control bg-light" />
            </div>

            <div class="text-center mt-4">
                <button type="submit" class="btn btn-light px-4">送出報名</button>
            </div>
        </div>
    </form>
</div>
